.m{
    display:inline;
    color:rgb(255, 196, 0);
    background-color: #000000;
    text-decoration: underline blue wavy;  
    letter-spacing: 10px;
    font-size: 80px;
}
#d{
    display: inline;
    color:#ca6702;
    background-color: #000000;
    font-size: 45px;
}
#pop{
    display: inline;
    color:#bb3e03;
    background-color: rgb(0,0,0);
    font-size: 45px;
}
#ev{
    display: inline;
    color:#ae2012;
    background-color: #000;
    font-size: 45px;
}
#evb{
    color:#ae2012;
}
#dm{
    display: inline;
    color:#9b2226;
    background-color: lightgrey;
    font-size: 45px;
}
#dmb{
    color:#9b2226;
}
#bs{
    display: inline;
    color:#5f0f40;
    background-color: lightgray;
    font-size: 45px;
}
#bsb{
    color:#5f0f40;
}
#tob{
    display: inline;
    color:#ff0a54;
    background-color:black;
    font-size: 45px;
}
.ib{
    display: inline;
    color:#40916c;
    background-color: #000000;
    font-size:35px;
}
.amb{
    display: inline;
    color:#6930c3;
    background-color: #000000;
    font-size:35px;
}
.afb{
    display: inline;
    color:#aacc00;
    background-color: #000000;
    font-size:35px;
}
#ha{
    display: inline;
    color:#4361ee;
    background-color: black;
    font-size: 45px;
}
#h{
    display: inline;
    color:#252422;
    background-color:lightgreen ;
    font-size: 45px;
}
#hb{
    color:black;
}
.d{
    display: inline;
    color:#f4a259;
    background-color:darkblue ;
    font-size: 45px;
}
h3 span{
    display: inline;
    color:#db3a34;
}
.db{
    color:#db3a34;
}
#l{
    display: inline;
    color:#07c8f9;
    background-color: black;
    font-size: 45px;
}
#lb{
    color:#07c8f9;;
}
.rn{
    display: inline;
    color:#87a330;
    background-color: black;
    font-size: 45px;
}
#rnb{
    color:#87a330;
}
.i{
    display: inline;
    color:black;
    background-color: #3da35d;
    font-size: 45px;
}
.bi{
    color:black;
}
.b{
    display: inline;
    color:#ffd97d;
    background-color: black;
    font-size: 45px;
}
#bb{
    color:#ffd97d;
}
#c{
    display: inline;
    color: yellow;
    background-color: black;
    font-size: 45px;
}
.cb{
    color:yellow;

}
#s{
    color:#a32162;
}
section > h5{
    color:black;
}

