h1{
    color:aqua;
    background-color: black;
}
label{
    color: yellow;
    background-color: teal;
}
p{
    color: tomato;
    background-color: slategrey;
}
button{
    color: magenta;
    background-color: springgreen;
}
