h1{
    display: inline;
    color: rgb(255, 0, 0);
    background-color: rgb(237, 241, 248);
}
p{
    display: inline;
    color: chocolate;
    background-color: rgb(237, 241, 248);
}
h2{
    display: inline;
    color: rgb(1, 131, 29);
    background-color: rgb(237, 241, 248);
}
h3{
    display: inline;
    color: blue;
    background-color: rgb(237, 241, 248);
}
li{
    display: inline;
    color: rgb(207, 145, 0);
    background-color: rgb(237, 241, 248);
}
button{
    display:inline;
    color: rgb(255, 0, 0);
    background-color: rgb(237, 241, 248);
}
div{
    display: inline;
    color: rgb(5, 167, 167);
}
h4{
    display: inline;
    color:rgb(252, 3, 3);
}
footer{
    display: inline;
    color:rgb(252, 3, 3);
}
section{
    display: inline;
    color:rgb(252, 3, 3);
}